@model IEnumerable<VictuzWeb.Models.Club>

@{
    ViewData["Title"] = "Clubs";
}

<h1>Clubs</h1>

<p>
    <a asp-action="Create">Nieuwe maken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Geaccepteerd
            </th>
            <th></th>
            <th>
                Naam
            </th>
            <th>
                Aanmaakdatum
            </th>
            <th style="min-width: 200px"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                <img
                    src="/Img/@Html.DisplayFor(modelItem => item.Image)"
                    style="max-width: 500px;"
                    />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>

                    <a asp-action="Details" asp-route-id="@item.Identifier">Details</a> |

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Identifier">Bewerken</a>
                        <a asp-action="Delete" asp-route-id="@item.Identifier">Verwijderen</a>
                    }


            </td>
        </tr>
}
    </tbody>
</table>
