@model IEnumerable<VictuzWeb.ViewModels.SuggestionViewModel>

@{
    ViewData["Title"] = "Suggesties";
}

<h1>Suggesties</h1>

<p>
    <a asp-action="Create">Nieuwe maken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th></th>
            <th>
                Aantal likes
            </th>
            <th>
                Geliked
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="@(item.likeCount >= 3 ? "yellow-background" : "")">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.likeCount)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Haslike)
            </td>
            <td>


                    <a asp-action="Edit" asp-route-id="@item.Identifier">Bewerken</a> |


                    <a asp-action="Details" asp-route-id="@item.Identifier">Details</a> |



                    <a asp-action="Delete" asp-route-id="@item.Identifier">Verwijderen</a>





            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .yellow-background {
        background-color: yellow;
    }
</style>
