@model VictuzWeb.ViewModels.HomeViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<section class="gatherings">
    <h1>Activiteiten die binnenkort plaatsvinden.</h1>
    <div class="gatheringCards">
        @foreach (var gathering in Model.Gatherings)
        {
            <div class="card">
                <img src="/Img/@gathering.Image" class="card-img-top" alt="Afbeelding voor de activiteit '@gathering.Name'.">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => gathering.Name) (@Html.DisplayFor(modelItem => gathering.BeginDateTime))</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => gathering.Description)</p>
                    <a asp-controller="Gatherings" asp-action="Details" asp-route-id="@gathering.Identifier" class="btn btn-primary">Naar activiteit</a>
                </div>
            </div>
        }
    </div>

    <a asp-controller="Gatherings" asp-action="Index" class="btn btn-primary">Zie alle activiteiten</a>
</section>
