@model IEnumerable<VictuzWeb.ViewModels.GatheringsViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Nieuwe maken</a>
        </p>
    }
}



<table class="table">
    <thead>
    <tr>
        <th>
            Naam
        </th>
        <th>
            Afbeelding
        </th>
        <th>
            Beschrijving
        </th>
        <th>
            Max deelnemers
        </th>
        <th>
            Deadline
        </th>
        <th>
            Begintijd
        </th>
        <th>
            Eindtijd
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <!--
            <img
                src="/Img/@Html.DisplayFor(modelItem => item.Image)"
                style="max-width: 500px;"/>
            -->
            <p>
            @Html.DisplayFor(modelItem => item.Image)
            </p>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IngescrevenUsers)
            /
            @Html.DisplayFor(modelItem => item.MaxUsers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadlineDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeginDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTime)
        </td>
        <td>

                    <a asp-action="Details" asp-route-id="@item.Identifier">Details</a>

            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Admin"))
                {
                            <a asp-action="Edit" asp-route-id="@item.Identifier">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Identifier">Delete</a>
                }



            }
        </td>
    </tr>
}
    </tbody>
</table>
